# --- Frontend (React) ---
**/node_modules/
**/dist/
**/build/
.env
.env.local

# --- IDE ve Sistem ---
.vscode/
Thumbs.db
# --- Visual Studio Kullanıcı Ayarları ---
*.user
*.userosscache
*.sln.docstates
[Oo]bj/
.vs/
*.db

*.user
*.db
*.sln.docstates
